.container
  .text-center
    %h2 New subcategory
  .row
    .col-md-4
    .col-md-4
      = render 'form',  subcategory: @subcategory
  .text-center
    = link_to 'Cancel', religion_category_subcategories_path(@category.religion.id, @category.id)
