.container
  .row
    .col-xs-12.col-sm-5.col-md-2.col-lg-2.left-bar

    .col-xs-12.col-sm-7.col-md-10.col-lg10
      .content
        .row
          -@categories.each do |category|
            = render 'categories/category',  category: category

        %br
        .row
          .col-md-4
          .col-md-4
            = link_to 'Add new', new_religion_path, {class: 'btn btn-primary btn-lg btn-block'}
        %br