.container
  .row
    .col-xs-12.col-sm-5.col-md-2.col-lg-2
      = render 'shared/left_menu'
    .col-xs-12.col-sm-7.col-md-10.col-lg10
      .content
        .row
          -@accessories.each do |accessory|
            = render 'accessory', accessory: accessory

        %br
        .row
          .col-md-4
          .col-md-4
            = link_to 'Add new', new_accessory_path, {class: 'btn btn-primary btn-lg btn-block'}
        %br

